<!doctype html>
<html>
<head>
	<title>VCFL</title>
	<link rel="stylesheet" href="styles.css">
	
</head>
<body>
	<div><img src="banner.bmp" onclick="window.location='/'" ></img></div>
	{{{body}}}
	
</body>
</html>