<h1>Create New Account</h1>


<form action="/addCoach">

	<label>UserName:<input type="text" name="UserName" required></label>
	<br>
	<label>FirstName:<input type="text" name="FirstName" required></label>
	<br>
	<label>LastName:<input type="text" name="LastName" required></label>
	<br>
	<label>TeamName:<input type="text" name="TeamName" required></label>
	<br>
	<label>Password:<input type="text" name="Password" value="password" required></label>
	<br>
	

	<input type="submit" value="Add Coach"/>
	
</form>







