<div class="pageHeader">
<h1>Create New Account</h1>
</div>




<div class="backgroundGray">
	<form action="/addCoach">

		<label class="standard">UserName:<input type="text" name="UserName" required></label>
		<br>
		<label class="standard">FirstName:<input type="text" name="FirstName" required></label>
		<br>
		<label class="standard">LastName:<input type="text" name="LastName" required></label>
		<br>
		<label class="standard">TeamName:<input type="text" name="TeamName" required></label>
		<br>
		<label class="standard">Password:<input type="password" name="Password" value="password" required></label>
		<br>
		
		<input type="submit" value="Create Account"/>
		
	</form>
</div>









