<div class="pageHeader">
<h1>Login</h1>
</div>


<form action="/checkLogin">

	<label>UserName:</label>
	<br>
	<input type="text" name="UserName" required>
	<br>
	<br>
	<label>Password:</label>
	<br>
	<input type="text" name="Password" value="password" required>
	<br>
	<input type="submit" value="Log In" class="wideButton">

</form>
<button onclick="window.location='/addCoachLoad'"  class="wideButton">Create New Account</button>



