<div class="pageHeader">
<h1>Login</h1>
</div>



<form action="/checkLogin">

	<label class="standard">User Name:</label>
	<br>
	<input type="text" class="inputBox" name="UserName" required>
	<br>
	<br>
	<label class="standard">Password:</label>
	<br>
	<input type="password" class="inputBox" name="Password" value="password" required>
	<br>
	<br>
	<input type="submit" value="Log In" class="wideButton">
	
	
</form>

<form action="/addCoachLoad" method="get">
	<input type="submit" value="Create New Account" class="wideButton">
</form>

