<h1>Login</h1>


<form action="/checkLogin">

	<label>UserName:<input type="text" name="UserName" required></label>
	<br>
	<label>Password:<input type="text" name="Password" value="password" required></label>
	<br>
	<input type="submit" value="Log In">

</form>
<button onclick="window.location='/addCoachLoad'">Create New Account</button>



