<h1>MAIN MENU</h1>


<input type="button" value="View Coaches" onclick="window.location='/viewCoaches'">

<br>

<input type="button" value="View All Players" onclick="window.location='/viewPlayers'">

<br>

<input type="button" value="View My Team" onclick="window.location='/'">

<br>

<input type="button" value="View Draft Distance" onclick="window.location='/draftDistLoad'">

<form action="/editCoachLoad" method="get">
	<input type="hidden" name="coach_id" value={{UserID}}>
	<input type="submit" value="Edit My Account">
</form>

<button onclick="window.location='/logout'">Log Out</button>










