<h1>MAIN MENU</h1>



<button onclick="window.location='/viewCoaches'">View Coaches</button>
<br>
<button onclick="window.location='/addCoachForm'">Add Coach</button>
<br>
<button onclick="window.location='/'">View All Players</button>
<br>
<button onclick="window.location='/'">View My Team</button>
<br>
<button onclick="window.location='/draftDist'">View Draft Distance</button>
<br>
<button onclick="window.location='/'">Edit My Account</button>
<br>
<button onclick="window.location='/'">Log Out</button>







